* {
  margin: 0;
  padding: 0;
}

.todo-container {
  width: 1200px;
  margin: auto;
}

table{
  width: 100%;
}

th, td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.326);
  padding: 8px;
  text-align: center;
}

h1 > span {
  font-weight: 100;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: left;
}

.form-input {
  padding-bottom: 5px;
  width: 90%;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
}

.add-todo-container{
  margin: 20px 0;
}

button {
  background-color: rgba(0, 0, 0, 0.736);
  border: 1px solid rgba(0, 0, 0, 0.426);
  color: #fff;
  width: 80px;
  padding: 10px;
}

button:hover {
  color: rgb(159, 236, 255);
}